<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vxplore.agoraaudiocall">

    <application>
        <activity
            android:name=".VoiceCallActivity"
            android:exported="false"
            android:label="@string/title_activity_voice_call"
            android:theme="@style/Theme.AgoraAudioCallSample" />
    </application>

</manifest>